// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: #fff;
}

.header{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 50px;
}

